.avatar-steemit {
	position: relative;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 100%;
	box-sizing: content-box;

	.avatar {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.avatar_hover {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background: rgba(64, 193, 152, 0.6);
		opacity: 0;
		transition: 0.3s ease;
		color: white;
		position: absolute;
		font-family: Roboto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&:hover .avatar_hover {
		opacity: 1;
	}
}