.comment_card {
	position: relative;
	margin: 1rem 0 1rem 0;
	@include clearfix();
	width: 100%;
	overflow: hidden;

	&__block--content {
		float: left;
		padding: 1.5rem;
		width: 100%;

		h3 {
			color: #6f6f6f;
			margin: 0 0 0.4rem;
			@include ellipsis();
		}

		p {
			color: #999999;
			margin: 0 0 0.3rem;
			line-height: 1.5rem;
			@include ellipsis();
		}

		a p:hover, a h3:hover {
			text-decoration: underline;
		}
	}

	&__block--info {
		@include clearfix();
		float: left;

		p {
			margin: 0;
		}

		.author {
			margin: 0.3rem 1rem;
			p {
				span {
					opacity: 0.8;
					margin-right: 4px;
				}

				i {
					color: #cccccc;
					// border: 1px solid #cccccc;
					border-radius: 0.3rem;
					padding: 0 4px;
					font-size: 0.8rem;
					height: 1.5rem;
					display: inline-block;
					line-height: 1.5rem;
					margin-left: 4px;
					font-style: normal;
				}
			}
		}

		.datetime {
			margin: 0.3rem 1rem;
		}

		.details {
			display: flex;
			align-items: center;

			.btn_go_ahead {
				border: 1px solid #f1f1f1;
				border-radius: 100%;
				color: $blue;
				background: transparent;
				padding: 0;
				@include size(2.2rem);
				text-align: center;

				&:hover, &:active, &:focus {
					color: $white;
					@include gradientDiagonal();
					border-color: $blue;
					transition: 0.2s ease;
				}
				
				i {
					transform: rotate(270deg);
					font-size: 16px;
					margin-top: 2px;
				}
			}

			.price {
				color: $green;
				font-size: 1.3rem;
				font-family: 'nunito_sanssemibold';
				margin: 0 0.5rem;
				span {
					font-size: 0.9rem;
					position: relative;
					top: -4px;
				}
			}

			.social_area {
				color: #cccccc;
				// border: 1px solid #cccccc;
				border-radius: 0.3rem;
				margin: 0 0.25rem;
				padding: 0.2rem 0.5rem;
				font-size: 0.8rem;
				display: flex;
				align-items: center;
				i {
					font-size: 1rem;
					margin: 0 0.3rem;
				}
			}

			.social_area--comment {
				i {
					position: relative;
					top: 1px;
				}
			}
		}
	}
}