.post_card {
	$width_img: 15rem;
	$height_img: 9.2rem;
	$border_radius: 0.3rem;

	position: relative;
	background: $white;
	border-radius: $border_radius;
	margin: 1rem 1rem 1.5rem 0;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	@include clearfix();
	overflow: hidden;

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
	}

	&[data-style="column"] {
		width: calc(25% - 1.5rem);
		margin: 0 1.5rem 1.5rem 0;
		float: left;
		
		&:nth-child(even) {
			margin: 1.5rem 1.5rem 1.5rem 0;
		}

		&:nth-child(odd) {
			margin: 0 1.5rem 3rem 0;
		}

		.post_card__block--content {
			padding: 1rem;
			margin-left: 0;
		}

		.post_card__block {
			width: 100% !important;
		}

		.post_card__block--img {
			border-radius: $border_radius $border_radius 0 0;
			position: relative;
			height: $height_img;
		}

		.author, .datetime {
			width: 100%;
			text-align: center;
			margin: 0.3rem auto;
		}

		.details {
			width: 100%;
			margin-top: 10px;
	
			&:before {
				display: block;
			}

			.social_area--like {
				display: none;
			}
		}
	}

	&[data-style="row"] {
		background: transparent;
		margin-bottom: 1.5rem;
		overflow: initial;

		&:hover {
			box-shadow: none;
		}

		.post_card__block--content {
			padding-top: 0;
			padding-bottom: 0;

			p {
				@include ellipsis();
			}
		}

		@media screen and (max-width: 600px) {
			.post_card__block--content {
				padding-top: 1.3rem;
			}
		}
	}

	&__block--img {
		float: left;
		overflow: hidden;
		@include position(absolute, 0 null 0 0);
		width: $width_img;
		border-radius: $border_radius 0 0 $border_radius;
	}

	&__block--content {
		margin-left: $width_img;
		width: calc(100% - #{$width_img});
		padding: 1.3rem 1.5rem;
		overflow: hidden;

		h3 {
			color: #6f6f6f;
			margin: 0 0 0.4rem;
			@include ellipsis();
		}

		p {
			color: #999999;
			margin: 0 0 0.4rem;
			line-height: 1.5rem;
			@include overflowLine(1.4rem, 2);
		}
	}

	&__block--info {
		@include clearfix();
		float: left;

		p {
			margin: 0;
		}

		.author {
			margin: 0.3rem 1rem;
			p {
				span {
					opacity: 0.8;
					margin-right: 4px;
				}

				i {
					color: #cccccc;
					// border: 1px solid #cccccc;
					border-radius: 0.3rem;
					padding: 0 4px;
					font-size: 0.8rem;
					height: 1.5rem;
					display: inline-block;
					font-style: normal;
					line-height: 1.5rem;
					margin-left: 4px;
				}
			}
		}

		.datetime {
			margin: 0.3rem 1rem;
		}

		.details {
			display: flex;
			align-items: center;
			position: relative;
	
			&:before {
				@include position(absolute, -10px -1rem null -1rem);
				display: inline-block;
				height: 1px;
				background: #cccccc;
				content: "";
				display: none;
			}

			.btn_go_ahead {
				border: 1px solid #f1f1f1;
				border-radius: 100%;
				color: $blue;
				background: transparent;
				padding: 0;
				@include size(2.2rem);
				text-align: center;

				&:hover, &:active, &:focus {
					color: $white;
					@include gradientDiagonal();
					transition: 0.2s ease;
					border-color: $blue;
				}
				
				i {
					transform: rotate(270deg);
					font-size: 16px;
					margin-top: 2px;
				}
			}

			.price {
				color: $green;
				font-size: 1.3rem;
				font-family: 'nunito_sanssemibold';
				margin: 0 0.5rem;
				span {
					font-size: 0.9rem;
					position: relative;
					top: -4px;
				}
			}

			.social_area {
				color: #cccccc;
				// border: 1px solid #cccccc;
				border-radius: 0.3rem;
				margin: 0 0.25rem;
				padding: 0.2rem 0.5rem;
				font-size: 0.8rem;
				display: flex;
				align-items: center;

				&:hover {
					* {
						color: $blue;
					}
				}

				i {
					font-size: 1rem;
					margin: 0 0.3rem;
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		margin-bottom: 1rem;
		.post_card__block {
			width: 100% !important;
		}
		.post_card__block--content {
			margin-left: 0 !important;
		}
		.social_area--like {
			display: none !important;
		}
		.post_card__block--img {
			position: relative;
			height: $height_img;
			border-radius: 0.3rem 0.3rem 0 0;
		}
		.details {
			width: 100%;
			margin-top: 10px;
			&:before {
				display: block;
			}
		}
	}
}