.PostDetail {
	background: $white;
	border-radius: 2px;
	padding: 2rem 1.5rem;
	font-size: 16px;

	@media screen and (min-width: 1400px) {
		font-size: 18px;
	}

	p {
		font-size: 1em;
		line-height: 1.6em;
	}

	&__content {
		max-width: 50rem;
		margin: 0 auto;
	}

	&__large {
		max-width: 60rem;
		margin: 2rem auto;
		padding-top: 3rem;
		&.border_top {
			border-top: 1px solid #d5d5d5;
		}
	}

	&__comments__control {
		margin: 0 0 1rem;
		@include clearfix();
	}

	.TagList {
		margin-bottom: 1rem;
	}

	.article {
		&__post {
			font-size: 21px;
			line-height: 1.58;
			letter-spacing: -.003em;

			h1 {
				color: #333;
			}

			&__author {
				padding: 1rem 0;
				margin-bottom: 2rem;
				display: flex;
				align-items: center;

				&>img {
					margin-right: 1rem;
				}
				&>* {
					margin-right: 0.3rem;
				}
			}

			&__author__avatar {
				width: 2.5rem;
				img {
					width: 100%;
				}
			}

			&__author__link {
				font-weight: 600;
				color: #8a8a8a;
				&:hover {
					text-decoration: underline;
				}
			}

			&__detail {
				margin: 0 0 3rem;
			}
		}

		&__content {
			img {
				margin: 0 auto;
				display: block;
				max-width: 100%;
			}
		}

		&__reply {
			border: 1px solid #efefef;
			padding: 10px;
			margin: 40px 0;
		}

		&__footer {
			padding: 1rem 0;
		}

		&__footer__details {
			display: flex;
			justify-content: space-between;

			@media screen and (max-width: 860px) {
				flex-direction: column;
			}

			& > div {
				display: flex;
				align-items: center;
			}

			.responses a {
				display: flex;
				align-items: center;
				> svg {
					margin-right: 5px;
				}
			}

			&__right {
				& > div {
					display: flex;
					padding: 0 10px;
					border-left: 1px solid #8a8a8a;

					&:first-child {
						border-left: 0;
					}
				}
			}
		}
	}

	.time_author {
		display: flex;
		align-items: center;
		margin: 6px 15px 0 0;
		&>* {
			margin-right: 4px;
		}
	}

	&__signup {
		text-align: center;
		padding: 1rem 0 2.2rem;
		border-top: 1px solid #d5d5d5;
		border-bottom: 1px solid #d5d5d5;
		p {
			font-style: italic;
		}
	}
}