.Vote {
	border-radius: 100%;
	overflow: hidden;
	margin-right: .5rem;

	&.active, &:hover {
		@include gradientDiagonal();
	}

	.CardBox {
		width: 300px;
		padding: 20px;
	}

	.Slider {
		display: flex;
		align-items: center;
	}

	.Weight {
		margin-left: 20px;
	}
}

.Voting {
	display: flex;
	align-items: center;

	&__button {
		cursor: pointer;
		position: relative;
	}

	&__money {
		font-weight: 600;
		margin-right: 8px;
		display: flex;
		align-items: center;
		position: relative;
		span {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__voters_list {
		font-weight: 600;
		padding-left: 7px;
		border-left: 1px solid #8a8a8a;
		position: relative;
		span {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.CardBox {
	position: absolute;
	top: 100%;
	background: white;
	box-shadow: 0 0 8px lightgrey;
	z-index: 2;
}

.MoneyCard {
	padding: 0.7rem 1rem 0.8rem;
	width: 17rem;

	p {
		margin: 0 0 0.5rem;
		&:last-child {
			margin: 0;
		}
	}
}

.VoteCard {
	max-width: 15rem;
	min-width: 10rem;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0.5rem 0;

		li {
			padding: 2px 10px;
			&:hover {
				background: #eee;
			}
			a {
				color: #8a8a8a;
				display: inline-block;
				width: 100%;

				&:hover {
					color: $blue;
				}
			}
		}
	}
}


