@font-face {
  font-family: 'nunito_sansblack';
  src: url('styles/assets/fonts/nunito-sans/nunitosans-black-webfont.woff2') format('woff2'),
     url('styles/assets/fonts/nunito-sans/nunitosans-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nunito_sansbold';
  src: url('styles/assets/fonts/nunito-sans/nunitosans-bold-webfont.woff2') format('woff2'),
     url('styles/assets/fonts/nunito-sans/nunitosans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nunito_sansextrabold';
  src: url('styles/assets/fonts/nunito-sans/nunitosans-extrabold-webfont.woff2') format('woff2'),
     url('styles/assets/fonts/nunito-sans/nunitosans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nunito_sansextralight';
  src: url('styles/assets/fonts/nunito-sans/nunitosans-extralight-webfont.woff2') format('woff2'),
     url('styles/assets/fonts/nunito-sans/nunitosans-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nunito_sanslight';
  src: url('styles/assets/fonts/nunito-sans/nunitosans-light-webfont.woff2') format('woff2'),
     url('styles/assets/fonts/nunito-sans/nunitosans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'nunito_sansregular';
  src: url('styles/assets/fonts/nunito-sans/nunitosans-regular-webfont.woff2') format('woff2'),
     url('styles/assets/fonts/nunito-sans/nunitosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nunito_sanssemibold';
  src: url('styles/assets/fonts/nunito-sans/nunitosans-semibold-webfont.woff2') format('woff2'),
     url('styles/assets/fonts/nunito-sans/nunitosans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}