/*
|--------------------------------------------------
| Colors
|--------------------------------------------------
*/
$white: #ffffff;

$blue: #4aa7f4;

$gray: #999999;

$green: #7bb54d;

$light-red: #e26a73;

$orange: #ff931e;

$yellow: #e6e550;

$dark: #2b3b49;


$bg_default: $dark;
$bg_header: #fcfcfd;

// dummy
$primary: #333;


/*
|--------------------------------------------------
| Sizes
|--------------------------------------------------
*/
$height_header: 6rem;
$width_leftsidebar: 5.5rem;
$width_rightsidebar: 22rem;

$body_gap: 0rem;


/*
|--------------------------------------------------
| z-index
|--------------------------------------------------
*/
$max-z-index: 9999;

$index_header: 10;
$index_leftsidebar: 1;
$index_rightsidebar: 1;
$index_search: 9998;

$index_post_overlay: 1000;


/*
|--------------------------------------------------
| Radius
|--------------------------------------------------
*/
$app_radius: 0rem;