.react-tagsinput {
    background-color: #fff;
    overflow: hidden;
    padding-top: 5px;
    line-height: 34px;
}

.react-tagsinput-tag {
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
    border: 1px solid rgb(224, 224, 224);
    display: inline-flex;
    font-weight: 400;
    padding: 0px 10px;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.react-tagsinput-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(0, 0, 0, 0.3);
}
.react-tagsinput-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(0, 0, 0, 0.3);
    opacity:  1;
}
.react-tagsinput-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(0, 0, 0, 0.3);
    opacity:  1;
}
.react-tagsinput-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    rgba(0, 0, 0, 0.3);
}
.react-tagsinput-input:-ms-input-placeholder { /* Microsoft Edge */
    color:    rgba(0, 0, 0, 0.3);
}

.react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.react-tagsinput-remove:hover {
    background-color: #4aa7f4;
}

.react-tagsinput-tag a::before {
    content: " ×";
}

.react-tagsinput-input {
    background: transparent;
    border: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    width: 80px;
}
